<template>

</template>

<script>
export default {
  name: "Boa",
  computed: {
    // a computed getter
    publishedBooksMessage() {
      // `this` points to the component instance
      return "published";
    }
  }
};
</script>

<style scoped>

</style>
